<a href="https://colab.research.google.com/github/Muttalip7402/Analyzing-Historical-Stock-Revenue-Data-and-Building-a-Dashboard/blob/main/AdultDataSet_Explonatory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('adult.csv')

In [2]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1   workclass        32561 non-null  object
 2   fnlwgt           32561 non-null  int64
 3   education        32561 non-null  object
 4   educational-num  32561 non-null  int64
 5   marital-status   32561 non-null  object
 6   occupation       32561 non-null  object
 7   relationship     32561 non-null  object
 8   race             32561 non-null  object
 9   gender           32561 non-null  object
 10  capital-gain     32561 non-null  int64
 11  capital-loss     32561 non-null  int64
 12  hours-per-week   32561 non-null  int64
 13  native-country   32561 non-null  object
 14  income           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
#1- How many men and women (sex feature) are represented in this dfset?

print(df['gender'].value_counts())

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [8]:
# 2- What is the average age (age feature) of women?

age = 0
count = 0

for i in range(0, len(df)):
    if (df.iloc[i][9] == ' Female'):
        age += df.iloc[i][0]
        count += 1

averageAge = age / count
print("The average age of women is: ", averageAge)

The average age of women is:  36.85823043357163

In [9]:
# 3- What is the percentage of German citizens (native-country feature)?


germanCitizens = 0

for i in range(0, len(df)):
    if (df.iloc[i][13] == ' Germany'):
        germanCitizens += 1

percentage = (germanCitizens / len(df)) * 100
print("The percentage of German citizens is: ", percentage)

The percentage of German citizens is:  0.42074874850281013

In [7]:
# 4- What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

ageMoreThan = []
ageLessThan = []

for i in range(0, len(df)):
    if (df.iloc[i][14] == ' >50K'):
        ageMoreThan.append(df.iloc[i][0])
    if (df.iloc[i][14] == ' <=50K'):
        ageLessThan.append(df.iloc[i][0])
        
print("Mean age of people earning more than 50K per year is", np.mean(ageMoreThan))
print("Standard Deviation of age for people earning more than 50K per year is", np.std(ageMoreThan))
print()
print("Mean age of people earning less than 50K per year is", np.mean(ageLessThan))
print("Standard Deviation of age for people earning less than 50K per year is", np.std(ageLessThan))

Mean age of people earning more than 50K per year is 44.24984058155847
Standard Deviation of age for people earning more than 50K per year is 10.51835692766163

Mean age of people earning less than 50K per year is 36.78373786407767
Standard Deviation of age for people earning less than 50K per year is 14.019804910115282

In [10]:
 # 5 - Is it true that people who earn more than 50K have at least a high school education?
 # (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

 bachelors = 0
profSchool = 0
assocAcdm = 0
assocVoc = 0
masters = 0
doctorate = 0
highSchool = 0
someCollege = 0
count = 0

for i in range (0, len(df)):
    if (df.iloc[i][14] == ' >50K'):
        if (df.iloc[i][3] == ' Bachelors'):
            bachelors += 1
        elif (df.iloc[i][3] == ' Prof-school'):
            profSchool += 1
        elif (df.iloc[i][3] == ' Assoc-acdm'):
            assocAcdm += 1
        elif (df.iloc[i][3] == ' Assoc-voc'):
            assocVoc += 1
        elif (df.iloc[i][3] == ' Masters'):
            masters += 1
        elif (df.iloc[i][3] == ' Doctorate'):
            doctorate += 1
        elif (df.iloc[i][3] == ' HS-grad'):
            highSchool += 1
        elif (df.iloc[i][3] == ' Some-college'):
            someCollege += 1
        count += 1
print("Number of people that earn more than 50K: ", count)
print("Of which, the number of people with any education: ", bachelors + profSchool + assocAcdm + assocVoc + masters + doctorate + highSchool + someCollege)
print("Of which, the number of people with education higher than high school: ", bachelors + profSchool + assocAcdm + assocVoc + masters + doctorate)
print()
print("So it is not true that people who earn more than 50K have at least high school education")

Number of people that earn more than 50K:  7841
Of which, the number of people with any education:  7597
Of which, the number of people with education higher than high school:  4535

So it is not true that people who earn more than 50K have at least high school education

In [14]:
# 6- Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). 
# Find the maximum age of men of Amer-Indian-Eskimo race.

racedf = df.iloc[:,[0,8]]
genderdf = df.iloc[:,[0,9]]

raceGroup = racedf.groupby('race')
print(raceGroup.describe())

genderGroup = genderdf.groupby('gender')
print(genderGroup.describe())

                         age                                                \
                       count       mean        std   min   25%   50%   75%
race
 Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
 Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
 Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
 Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
 White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0


                      max
race
 Amer-Indian-Eskimo  82.0
 Asian-Pac-Islander  90.0
 Black               90.0
 Other               77.0
 White               90.0
             age
           count       mean        std   min   25%   50%   75%   max
gender
 Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
 Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0